/* Workaround: Grid container with children in different sizes causing the default style to be missing in SSR */
.grid-container {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin-top: -60px;
  width: calc(100% + 60px);
  margin-left: -60px;
}