 @font-face {
   font-family: "Azonix";
   font-style: "normal";
   font-weight: 400;
   font-display: "swap";
   src: local("Azonix"),
     local("Azonix-Regular"),
     url("fonts/azonix.woff2") format("woff2"),
     url("fonts/azonix.woff") format("woff");
 }